<% content_for :title, t('tasks.edit_task') %>

<h1><%= t('tasks.edit_task') %></h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to t('tasks.show_task'), @task %> |
  <%= link_to t('tasks.title'), tasks_path %>
</div>
